* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.parent_total2 {
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 200px;
}
.parent_hov2 {
    color: blue;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
height: 30px;
}
.line_hov2 {
    background: crimson;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    transition: width 0.3s;
    position: absolute;
    top: 5px;
    left: -15px;
}
.parent_hov2:hover .line_hov2 {
    width: 30px;
    transition: width 0.8s;
}
.parent_hov2:hover {
    padding-left: 20px;
    transition: padding-left 0.8s;
}
