body {
    background-color: grey;
    margin: 0;
    padding: 0;
}
.parent_vk {
    background-color: white;
    height: 50px;
}
.inside {
    /*background-color: orange;*/
    width: 1000px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.white {
    /*background-color: crimson;*/
    padding-right: 20px;
    text-align: center;
    font-size: 22px;
    margin-right: 20px;
    width: 120px;
}
.yellow {
    /*background-color: yellow;*/
    width: 120px;
}
.yellow input[type="text"] {
    background-color: thistle;
    border: 1px solid thistle;
    border-radius: 4px;
    padding: 5px;
}