* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}
.parent_vk {
    background-color: white;
    height: 50px;
}
.inside {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: left;
    padding-top: 10px;
}
.white {
    padding-right: 20px;
    text-align: center;
    font-size: 22px;
    margin-right: 20px;
    width: 120px;
}
.yellow {
    width: 120px;
}
.yellow input[type="text"] {
    background-color: thistle;
    border: 1px solid thistle;
    border-radius: 4px;
    padding: 5px;
}
.inside2 {
    width: 1000px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}
.parent_left {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: left;
    margin-right: 200px;
}
.center_left {
/background-color: green;/
text-align: center;
    justify-content: center;
    text-align: center;
    font-size: 130%;
    font-weight: 600;
    margin: 20px 20px;
}
.text_center_left {
    text-align: center;
}
.center_left2 {
/background-color: yellowgreen;/
text-align: center;
}

.parent_right {
/background-color: green;/
display: flex;
    flex-direction: column;
    margin: 20px 20px;
    padding: 20px;
}
.center_right {
    background-color: white;
    border-radius: 5px;
    width: 300px;
    margin: 20px 10px;
    padding: 40px 20px;
}
.center_right input[type="text"] {
/*background-color: blue;*/
padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 250px;
/margin: 10px 10px;/
}
.in {
    text-align: center;
}

.center_right2 {
    background-color: white;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    margin: 20px 10px;
    padding: 20px 20px;
}
.box {
    background-color: blue;
    width: 250px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
}
.box:hover {
    background: grey;
}
.box2 {
    background-color: green;
    width: 250px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.box2:hover {
    color: yellow;
    background-color: #005bb5;
}
.box3 {
    width: 250px;
    display: inline-block;
    margin: 10px 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: blue;
    text-decoration: none;
}
.box3:hover {
    border: 2px solid crimson;
}
.box3:active {
    background-color: yellow;
}
.parent_center_left3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}
.center_left3 {
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
.center_left3:hover {
    background-color: white;
}
.parent_center_left4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px;
}
.center_left4 {
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
.center_left4:hover {
    background-color: white;
}
.picture {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.pic_one {
    display: flex;
    height: 380px;
    width: 380px;
    justify-content: flex-end;
}
.pic_two {
    display: flex;
    height: 400px;
    width: 400px;
    margin-left: -20px;
}
.more {

}
.more2 {
    text-decoration: none;
}
.par_logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.picture_logo {
    display: flex;
    height: 60px;
    width: 60px;
}
.par_qr {
    display: flex;
    flex-direction: row;
}
.picture_qr {
    display: flex;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}
.parent_qr {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.qr1 {
    font-size: 90%;
    font-weight: 700;
}
.inside3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    padding-right: 45px;
}
.down1\.1 {
    text-decoration: none;
}
.down2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.down2\.1:hover {
    color: green;
}
.down2\.1 {
    text-decoration: none;
}
.down3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    transition: 0.5s;
}
.down3\.1 {
    text-decoration: none;
}
.down3\.1:hover {
    border: 1px solid green;
    border-radius: 5px;
    padding: 3px;
}
.telephon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
}