* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.button {
    display: inline-flex;
    position: relative;
    text-decoration: none;
    padding: 10px 15px 10px 45px;
    /*background: #005bb5;*/
}
.button::before {
    content: '';
    display: block;
    background: crimson;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    top: 18px;
    left: 15px;
    transition: width 0.3s;
}
.button:hover::before {
    width: 25px;
}
.button::after {
    content: '';
    display: block;
    border: 2px solid crimson;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: width 0.3s;
}
.button:hover::after {
    width: 95%;
}