* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
.parent_total {
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    gap: 20px;
}
.parent_hov {
    text-decoration: none;
    margin-left: 10px;
    position: relative;
}
.parent_hov::after {
    content: '';
    display: block;
    background: crimson;
    width: 20px;
    height: 5px;
    position: absolute;
    left: -10px;
}
.parent_hov:hover::after {
    width: 200px;
    transition: 0.5s;
}